{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="col">
    <div class="row">
        <div class="col-lg-6 mb-4">
            <div class="card text-white bg-primary shadow">
                <div class="card-body">
                    <p class="m-0">Primary</p>
                    <p class="text-white-50 small m-0">#4e73df</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-4">
            <div class="card text-white bg-success shadow">
                <div class="card-body">
                    <p class="m-0">Success</p>
                    <p class="text-white-50 small m-0">#1cc88a</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-4">
            <div class="card text-white bg-info shadow">
                <div class="card-body">
                    <p class="m-0">Info</p>
                    <p class="text-white-50 small m-0">#36b9cc</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-4">
            <div class="card text-white bg-warning shadow">
                <div class="card-body">
                    <p class="m-0">Warning</p>
                    <p class="text-white-50 small m-0">#f6c23e</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-4">
            <div class="card text-white bg-danger shadow">
                <div class="card-body">
                    <p class="m-0">Danger</p>
                    <p class="text-white-50 small m-0">#e74a3b</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-4">
            <div class="card text-white bg-secondary shadow">
                <div class="card-body">
                    <p class="m-0">Secondary</p>
                    <p class="text-white-50 small m-0">#858796</p>
                </div>
            </div>
        </div>
    </div>
</div>
{# Simulation de contenu #}
<div class="text-justify">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla maximus viverra neque sed ornare. Maecenas vel neque facilisis risus finibus pellentesque. Etiam vestibulum, quam interdum consequat porta, ex tellus rhoncus urna, sed mollis sem tortor vel est. Donec posuere, lacus eu hendrerit congue, quam quam facilisis quam, in euismod ipsum nibh a sapien. Morbi porttitor neque eu cursus gravida. Nullam ultrices iaculis purus, a dignissim ex sodales eget. Curabitur semper quis lacus ac volutpat. Morbi risus dui, auctor sed sem id, sollicitudin maximus erat.
    Quisque ac ipsum sed dui tempor dignissim vel eu arcu. Nulla facilisi. Vivamus accumsan, leo at elementum sagittis, tortor est lacinia justo, a euismod lacus orci at odio. Fusce condimentum eget metus at semper. In placerat lobortis dolor, non luctus leo ornare ut. Sed finibus ex ut risus egestas, ac sagittis urna vestibulum. Aliquam nec aliquam tortor, non tincidunt mi. Suspendisse ut lorem pharetra, ultricies lectus sit amet, gravida dui.
    Pellentesque elementum, nisi eget lobortis vestibulum, magna dolor molestie justo, in egestas nisi tellus id mauris. Suspendisse elementum sem tortor, a efficitur enim interdum vel. Proin ex diam, dapibus id tellus nec, cursus porta quam. Aliquam a tortor ac augue blandit vulputate vitae in ex. Cras eu dui a orci facilisis porta. Nullam lacinia dolor quis leo cursus malesuada. Pellentesque malesuada lacinia lacus. Vestibulum dictum interdum ante ac dignissim. Phasellus bibendum diam id purus venenatis, at condimentum dui consectetur. Mauris consequat tellus ac dignissim maximus. Suspendisse mattis felis quam, a varius felis imperdiet gravida. Vivamus porttitor feugiat libero nec dignissim. Vivamus metus nisl, posuere at ligula semper, mattis interdum nisi. Aenean scelerisque consectetur leo sit amet vestibulum. Suspendisse vitae lacinia nunc. Nulla eros ex, volutpat a laoreet a, sagittis eget sapien.
    Donec feugiat viverra vulputate. Sed egestas vehicula purus, et gravida sem sodales non. In facilisis faucibus leo, et placerat odio accumsan quis. Duis in purus leo. Mauris felis felis, egestas ac enim ac, efficitur vestibulum eros. Donec vulputate ante non turpis fermentum aliquet. Proin lacinia, urna ac sodales ultricies, magna nisi eleifend sem, vel imperdiet erat lorem non dolor. Interdum et malesuada fames ac ante ipsum primis in faucibus.
    Suspendisse nisl neque, sollicitudin vitae risus in, lobortis finibus purus. Phasellus at tincidunt dolor. Fusce sit amet nisi ut mauris porttitor aliquam. Vivamus dapibus massa eu est semper hendrerit. Integer nec blandit velit. Pellentesque placerat pretium enim, nec ornare erat sodales et. Donec accumsan massa nec quam sollicitudin, in varius velit euismod. Nam a convallis purus. Vivamus in elementum nibh. Mauris ut dapibus eros, sed dapibus nisi. Mauris tristique vestibulum imperdiet. 
</div>
{% endblock %}
