{% extends 'base.html.twig' %}

{% block title %}New Message{% endblock %}

{% block body %}
    <h1>Create new Message</h1>

    {{ include('message/_form.html.twig') }}

    <hr>
    <a href="{{ path('app_message_index') }}">Revenir à la boite de reception</a>
{% endblock %}
