<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Control a entreprise worker" />
    <meta name="author" content="Erdie Flaviau ANJARATIANA" />
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <title>
      Erdiwo-{% block title %}{% endblock %}
    </title>
    {# Face-api.js via CDN (à charger AVANT Webpack Encore) #}
    <script src="https://cdn.jsdelivr.net/npm/@vladmandic/face-api/dist/face-api.js"></script>
    
    {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
      {{ encore_entry_script_tags('app') }}
    {% endblock %}
  </head>
  <body id="page-top">
    <div id="wrapper">
        {{ include('_partials/_dashbord.html.twig') }}
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div class="container-fluid">
                  {% block body %}{% endblock %}
            </div>
        </div>
    </div>
  </body>
</html>
