{% extends 'base.html.twig' %}

{% block title %}Membres{% endblock %}

{% block body %}
    <div class="container">
        <div class="card shadow-lg mx-auto" style="">
            {{ include('user/_userInfo.html.twig') }}
        </div>
    </div>
{% endblock %}
